numpy<2.0.0
celery[redis]==5.4.0
faiss-cpu==1.8.0.post1
fastapi==0.115.12
opencv-python-headless==4.10.0.84
pillow==10.4.0
pydantic==2.9.2
python-multipart==0.0.20
redis==5.1.1
websockets==12.0
sahi==0.11.21
ultralytics==8.3.23
uvicorn[standard]==0.30.6
onnxruntime>=1.15.0
pandas>=2.0.0
openpyxl>=3.1.0

