#Dataset
Dataset/
Dataset_Filtered_Sharp/
dataset_output/
Dataset_Rejected_Blurry/
Defect_Dataset_Final/
YOLO_Dataset/
# Heavy Outputs and Images
Eva_Result/
Ghost_Review/
Foxconn_SAHI_Comparison/
Ghost_object/
#First dataset
PCB recognition for recycling.coco/
Main_clean_label_process/
#Weights
Hallucination_Autopsy/
runs/
Save_model/
Test_Eva/*.jpg
Ghost_Free_Labels/
*.pt
*.pth
*.onnx
#Node modules
Mobile_app_deploy/frontend/node_modules
#Rand stuff
venv/
env/
__pycache__/
*.pyc
.env
.DS_Store
Trash_dump/
Visual_Audit_Output/
File_anh/
# md files
CHANGELOG.md
README.md
GITHUB_UPDATE_GUIDE.md
# Git
push_to_github.ps1
push_to_github.sh
repomix-output.xml
#UN-Remove when repomix
Mobile_app_deploy/frontend/screens/ScannerScreen.js